/* Juan Manuel Rincón Navarro */

img{
	width:300px;
	height:200px;
	position:absolute;
}

img#imagen1{
	
}

img#imagen2{
	left:500px;
}

img#imagen3{
	left:250px;
	top:150px;
}

img#imagen4{
	top:300px;
}

img#imagen5{
	top:300px;
	left:500px;
}

img#imagen6{
	left:250px;
	top:450px;
}